<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">Forgot your password?</div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group">
            <label for="email" class="cols-sm-2 control-label">Your Email</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                <%= f.email_field :email, autocomplete: "email", autofocus: true, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="actions form-group">
            <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-lg btn-block login-button" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
