<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card mb-3">
        <%= image_tag("landing-location.jpg", class: "card-img-top", style: "width: 728px; height: 200px")%>
        <div class="card-body">
          <h5 class="card-title">Share Location</h5>
          <p class="card-text">This is a location sharing application where you can share your location with other users or make them public</p>
          <p class="card-text"><small class="text-muted">Sign up to start sharing...</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
