<div class="container">
  <% @locations.each do |location| %>
    <%= render 'locations/location', locals: {object: location} %>
  <% end %>
</div>
<div class="container">
  <% unless @locations.empty? %>
    <% @locations.each do |location| %>
      <%= render 'locations/location', locals: {object: location} %>
      <% end %>
  <% else%>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <p>You haven't shared any location with anyone yet</p>
        <p>Go to <%= link_to("share location", new_user_location_path(@user))%>
      </div>
    </div>
  <% end %>
</div>
